body, aside {
    color: #ffffff;
}

aside {
    margin-top: 50px;
}
aside > button {
    color: #404040;
}
body > div {
    color: #ffffff;
}

#start-page {
    width: 600px;
    height: 400px;
    display: block;
}